# Web scraping and Parsing the Wikipedia and convert the data into a DataFrame

## DataFrame creation

### Importing the required libraries for reading the URLs and parsing

In [1]:
import bs4 as bs
import urllib
import urllib.request

### Reading the wikipedia page and parsing into a html page

In [6]:
postcode_canada_url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
postcode_canada_urlopen = urllib.request.urlopen(postcode_canada_url)
soup = bs.BeautifulSoup(postcode_canada_urlopen,'html.parser')
#soup

### Finding the required data in the page

In [1]:
#soup.find_all('table')

### Extracting the required list of the values  from the HTML tags

In [59]:
for Postcode in soup.find_all('table', {'class': "wikitable sortable"}):
    output_row1=[]
    output_rows=[]
    
    for x in Postcode.find_all('th'):
        #print(x)
        output_row1.append(x.text.strip())
    print(output_row1)
    #output_rows.append(output_row1)
    #print(output_rows)
    for z in Postcode.find_all('tr'):
        output_row2 = []
        for y in z.find_all('td'):
            #print(y.text)
            output_row2.append(y.text.strip())
        #print("ROW 2", output_row2)
        #if "Not assigned" not in output_row2:
        output_rows.append(output_row2)
    print(output_rows[:10])

#import pandas as pd
#df=pd.DataFrame(output_rows, columns = output_row1, index=None)
#df.drop([0],axis=0)
#df1=df[df.Borough!="Not assigned"]
#df1

#df2 = df1.groupby(['Postcode'])['Borough'].apply(', '.join).reset_index()
#df2
#i=df1.index[df1['Neighbourhood'] == "Not assigned"]
#print(i)

['Postcode', 'Borough', 'Neighbourhood']
[[], ['M1A', 'Not assigned', 'Not assigned'], ['M2A', 'Not assigned', 'Not assigned'], ['M3A', 'North York', 'Parkwoods'], ['M4A', 'North York', 'Victoria Village'], ['M5A', 'Downtown Toronto', 'Harbourfront'], ['M5A', 'Downtown Toronto', 'Regent Park'], ['M6A', 'North York', 'Lawrence Heights'], ['M6A', 'North York', 'Lawrence Manor'], ['M7A', "Queen's Park", 'Not assigned']]

### Loading the extracted values into a DataFrame using Pandas

In [58]:
import pandas as pd
df=pd.DataFrame(output_rows, columns = output_row1, index=None)
#df
df.head(10)

  Postcode           Borough     Neighbourhood
0     None              None              None
1      M1A      Not assigned      Not assigned
2      M2A      Not assigned      Not assigned
3      M3A        North York         Parkwoods
4      M4A        North York  Victoria Village
5      M5A  Downtown Toronto      Harbourfront
6      M5A  Downtown Toronto       Regent Park
7      M6A        North York  Lawrence Heights
8      M6A        North York    Lawrence Manor
9      M7A      Queen's Park      Not assigned

## Modifying the DataFrame

### Discarding the rows whose 'Borough' column values are 'Not assigned' and also empty columns if present

In [73]:
df1=df[df.Borough!="Not assigned"]
df1.drop([0],axis=0).head(10)

   Postcode           Borough     Neighbourhood
3       M3A        North York         Parkwoods
4       M4A        North York  Victoria Village
5       M5A  Downtown Toronto      Harbourfront
6       M5A  Downtown Toronto       Regent Park
7       M6A        North York  Lawrence Heights
8       M6A        North York    Lawrence Manor
9       M7A      Queen's Park      Not assigned
11      M9A         Etobicoke  Islington Avenue
12      M1B       Scarborough             Rouge
13      M1B       Scarborough           Malvern

### Combining the 'Neighbourhood' s having which have the simialar 'Postcode's

In [74]:
df2 = df1.groupby('Postcode').agg({'Borough':'first','Neighbourhood': ', '.join,}).reset_index()
df2.head(10)

  Postcode      Borough                                    Neighbourhood
0      M1B  Scarborough                                   Rouge, Malvern
1      M1C  Scarborough           Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough                Guildwood, Morningside, West Hill
3      M1G  Scarborough                                           Woburn
4      M1H  Scarborough                                        Cedarbrae
5      M1J  Scarborough                              Scarborough Village
6      M1K  Scarborough      East Birchmount Park, Ionview, Kennedy Park
7      M1L  Scarborough                  Clairlea, Golden Mile, Oakridge
8      M1M  Scarborough  Cliffcrest, Cliffside, Scarborough Village West
9      M1N  Scarborough                      Birch Cliff, Cliffside West

### Finding if any 'Neighbourhood' has a value of 'Not assigned'

In [77]:
df2.loc[df2['Neighbourhood']== 'Not assigned']['Borough']

85    Queen's Park
Name: Borough, dtype: object

### If a 'Neighbourhood' is 'Not Assigned the replace it with the value of the corresponding 'Borough' in the same row

In [76]:
i=df2.loc[df2['Neighbourhood']== 'Not assigned']['Borough'].tolist()
df3=df2.replace('Not assigned',i[0])
#df3
df3.head(10)

  Postcode      Borough                                    Neighbourhood
0      M1B  Scarborough                                   Rouge, Malvern
1      M1C  Scarborough           Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough                Guildwood, Morningside, West Hill
3      M1G  Scarborough                                           Woburn
4      M1H  Scarborough                                        Cedarbrae
5      M1J  Scarborough                              Scarborough Village
6      M1K  Scarborough      East Birchmount Park, Ionview, Kennedy Park
7      M1L  Scarborough                  Clairlea, Golden Mile, Oakridge
8      M1M  Scarborough  Cliffcrest, Cliffside, Scarborough Village West
9      M1N  Scarborough                      Birch Cliff, Cliffside West

### Printing the number of rows and columns of the modifes DataFrame

In [47]:
df3.shape

(103, 3)